body {
    margin: 0;
}
#contenedor {
    width: 100%;
    height: 100%;
    background-color: #E5E3E4;
    
}
img {
    width: 200px;
    height: 200px;
    float: center;
}
nav {
    background-color: #FAD074;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul li {
    display: inline-block;
    align-items: center;
    padding: 0px 20px;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: white;
}
.formulario {
    margin: 20px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.reseña {
    margin-bottom: 20px;
}
.alquiler {
    overflow-x: auto;
    text-align: center;
    margin-left: 10px;
}
.botonalquiler {
    width: 105px;
    height: 30px;
    background-color: #0BA5BE;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
.ventas {
    overflow-x: auto;
    text-align: center;
    margin-left: 10px;
}
.botonventas {
    width: 100px;
    height: 30px;
    background-color: #0BA5BE;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
#información {
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
}
.subtítulo {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-box-: rgb(150,150,150) 5px 5px;
    background: -webkit-linear-gradient(top,  #0BA5BE,  #0BA5BE);
    background: -moz-linear-gradient(top,  #0BA5BE,  #0BA5BE);
}
.img1 {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    text-align: left;
    width: 600px;
    height: 200px;
}
.img2 {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    text-align: left;
    width: 600px;
    height: 200px;
}
.img3 {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    text-align: left;
    width: 600px;
    height: 200px;
}
.img4 {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    text-align: left;
    width: 600px;
    height: 200px;
}
.img5 {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    text-align: left;
    width: 600px;
    height: 200px;
}
.img6 {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    text-align: left;
    width: 600px;
    height: 200px;
}
.img7 {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    text-align: left;
    width: 600px;
    height: 200px;
}
.img8 {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    text-align: left;
    width: 600px;
    height: 200px;
}
.img9 {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    text-align: left;
    width: 600px;
    height: 200px;
}
.img10 {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    text-align: left;
    width: 600px;
    height: 200px;
}
.img11 {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    text-align: left;
    width: 600px;
    height: 200px;
}
.img12 {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    text-align: left;
    width: 600px;
    height: 200px;
}
.img13 {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    text-align: left;
    width: 600px;
    height: 200px;
}
.img14 {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    text-align: left;
    width: 600px;
    height: 200px;
}.img15 {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    text-align: left;
    width: 600px;
    height: 200px;
}.img16 {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    text-align: left;
    width: 600px;
    height: 200px;
}.img17 {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    text-align: left;
    width: 600px;
    height: 200px;
}.img18 {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    text-align: left;
    width: 600px;
    height: 200px;
}.img19 {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    text-align: left;
    width: 600px;
    height: 200px;
}.img20 {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    text-align: left;
    width: 600px;
    height: 200px;
}.img21 {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    text-align: left;
    width: 600px;
    height: 200px;
}.img22 {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    text-align: left;
    width: 600px;
    height: 200px;
}.img23 {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    text-align: left;
    width: 600px;
    height: 200px;
}.img24 {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    text-align: left;
    width: 600px;
    height: 200px;
}
.agrupar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    align-items: flex-start;
}
.agrupar2{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    align-items: flex-start;
}
h1{
    font-size: 21px;
    text-align: center;
}

.venta{
    -moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
-moz-box-: rgb(150,150,150) 5px 5px;
background: -webkit-linear-gradient(top,  #0BA5BE,  #0BA5BE);
background: -moz-linear-gradient(top,  #0BA5BE,  #0BA5BE);
text-align: center;
}
footer{
    background: #0BA5BE;
    padding-top: 50px;
}
.piedepágina{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.contenidos{
    width: 33.3%;
}
h3{
    font-size: 21px;
    margin-bottom: 15px;
    text-align: center;
}
.contenidos p{
    width: 190px;
    margin: auto;
    padding: 7px;
}
.contenidos ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}
.copyr{
    background: #FAD074;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.copyr p{
    color: #000000;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}
.img{
    text-align: center;
}